@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@300&family=Roboto:wght@300&family=Shadows+Into+Light&family=Titillium+Web:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: "Poppins", Roboto, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  /* outline: none; */
  color: white;
}

body {
  background: #000;
}

body::-webkit-scrollbar {
  background: transparent;
  width: 9px;
}

body::-webkit-scrollbar-track {
  background-color: #000;
}

body::-webkit-scrollbar-thumb {
  background: #4b0082;
  border-radius: 3px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
